extends widget/base

block append head
    link(rel='stylesheet' href= url_for('/style/about.css'))
    meta(content='yes',name='apple-mobile-web-app-capable')   
    meta(content='black' ,name='apple-mobile-web-app-status-bar-style') 
    meta(content='telephone=no', name='format-detection')
    meta(content='width=device-width,initial-scale=1.0, maximum-scale = 1.0,user-scalable=no', name='viewport')

block content
    main.about-page.is-flex.is-align-items-center.content.is-full-height
        .container.is-max-widescreen.px-2
            .columns.is-marginless
                aside.column.is-4.is-flex.is-flex-direction-column.is-justify-content-center
                    img.js-img-fadeIn(src= 'about.png')
                section.column.is-8.is-flex.is-flex-direction-column.is-justify-content-center
                    h2.about-title= __('about')
                    article!= page.content
block append script
    script.
        $claudia.fadeInImage()
