extends widget/base

block append head
    link(rel='stylesheet', href= url_for("/style/widget-post-list.css"))
    link(rel='apple-touch-icon-precomposed',sizes='256x256',href=url_for("/images/qoco256.png"))
    meta(content='yes',name='apple-mobile-web-app-capable')   
    meta(content='white' ,name='apple-mobile-web-app-status-bar-style') 
    meta(content='telephone=no', name='format-detection')
    meta(content='width=device-width,initial-scale=1.0, maximum-scale = 1.0,user-scalable=no', name='viewport')
    link(href=url_for("/images/qocosp.png"), media='screen and (max-device-width: 1242px) and (-webkit-min-device-pixel-ratio: 2)', rel='apple-touch-startup-image' ,sizes='1242x2688'/>


block content
    include widget/widget-post-list
        block sidebar
            include widget/widget-profile
            if theme.widgets.includes('recent_posts')
                include widget/widget-recent
            if theme.widgets.includes('category') && site.categories.length > 0
                include widget/widget-categories
            if theme.widgets.includes('archive')
                include widget/widget-archives
            if theme.widgets.includes('tag') && site.tags.length > 0
                include widget/widget-tag
