extends widget/base

block append head
  link(rel='stylesheet', href= url_for("/style/widget-post-list.css"))
    meta(content='yes',name='apple-mobile-web-app-capable')   
    meta(content='black' ,name='apple-mobile-web-app-status-bar-style') 
    meta(content='telephone=no', name='format-detection')
    meta(content='width=device-width,initial-scale=1.0, maximum-scale = 1.0,user-scalable=no', name='viewport')

block topic
  span= `${ _p('tag') } · ${ page.tag || __('all') }`

block content
  include widget/widget-post-list
    block sidebar
      div(style="position: sticky; top: 50px;")
        include widget/widget-tag
